$munjal-yellow: (
  50 : #fefce5,
  100 : #fcf8bf,
  200 : #faf494,
  300 : #f8ef69,
  400 : #f7eb49,
  500 : #f5e829,
  600 : #f4e524,
  700 : #f2e21f,
  800 : #f0de19,
  900 : #eed80f,
  A100 : #ffffff,
  A200 : #fffce6,
  A400 : #fff7b3,
  A700 : #fff49a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$munjal-lightblue: (
  50 : #e7f0f7,
  100 : #c2d9eb,
  200 : #9ac0dd,
  300 : #72a7cf,
  400 : #5394c5,
  500 : #3581bb,
  600 : #3079b5,
  700 : #286eac,
  800 : #2264a4,
  900 : #165196,
  A100 : #cae1ff,
  A200 : #97c4ff,
  A400 : #64a7ff,
  A700 : #4b98ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$munjal-blue: (
  50 : #e6e6ed,
  100 : #c0c0d3,
  200 : #9697b6,
  300 : #6b6d99,
  400 : #4c4d83,
  500 : #2c2e6d,
  600 : #272965,
  700 : #21235a,
  800 : #1b1d50,
  900 : #10123e,
  A100 : #7a7dff,
  A200 : #474bff,
  A400 : #141aff,
  A700 : #0006f9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

