<div class="section">

  <h3 class="contact subsection">
    Munjal Export & Import<br>
    D.S.P Road Fatehabad,<br>
    Haryana, India 125050<br>
    patrickmunjal02@gmail.com<br>
  </h3>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3472.1703182886176!2d75.45715111489055!3d29.511394350511214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391165bf0b2a8b81%3A0xd4b3d61e3b2b7457!2sDSP%20Rd%2C%20Bhima%20Basti%2C%20Fatehabad%2C%20Haryana%20125050%2C%20Indien!5e0!3m2!1sde!2sde!4v1617466457256!5m2!1sde!2sde"
    width="25%" height="50%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

  <img class="subsection" src="assets/images/frontEntrance2.jpg" height="auto" width="25%"/>

  <table class="opening-times subsection">
    <tr>
      <td>Monday</td>
      <td>10:00 - 20:30</td>
    </tr>
    <tr>
      <td>Tuesday</td>
      <td>10:00 - 20:30</td>
    </tr>
    <tr>
      <td>Wednesday</td>
      <td>10:00 - 20:30</td>
    </tr>
    <tr>
      <td>Thursday</td>
      <td>10:00 - 20:30</td>
    </tr>
    <tr>
      <td>Friday</td>
      <td>10:00 - 20:30</td>
    </tr>
    <tr>
      <td>Saturday</td>
      <td>10:00 - 20:30</td>
    </tr>
    <tr>
      <td>Sunday</td>
      <td>10:00 - 20:30</td>
    </tr>
  </table>
</div>

<!--<div class="section">
  <iframe
    src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fmunjalexportandimport%2Fvideos%2F851211032390227%2F&show_text=true&width=560"
    width="560" height="429" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
</div>-->

